.nav-link {
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .nav-link {
    width: 48.5%;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    width: 31.5%;
  }
}

@media screen and (min-width: 1200px) {
  .nav-link {
    width: 32%;
  }
}
