.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 320px;
  padding: 20px 0px;
  @media screen and (min-width: 768px) {
    width: 350px;
  }
}


.popup-text {
  font-family: 'Roboto';
  font-size: 16px;
  color: #00306e;
}


.buttons-container {
  display: flex;
  align-items: center;
}


.button {
  font-size: 16px;
  font-family: 'Roboto';
  border-radius: 3px;
  font-weight: bold;
}


.cancel-button {
  margin: 18px;
  background-color: transparent;
  border: 1px solid #616e7c;
  outline: none;
  color: #94a3b8;
  padding: 10px 14px;
}


.confirm-button {
  color: white;
  margin: 18px;
  background-color: #3b82f6;
  border: none;
  outline: none;
  padding: 12px 14px;
}


